@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.imgIcon {
  width: 20px;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.act-btn {
  width: 80px;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.act-slct {
  background: var(--white);
}

.logo {
  margin-bottom: 40px;
  display: flex;
  padding-top: 10px;
  padding-left: 19px;
}

.logo img {
  min-width: 30px;
  height: 30px;
}

.logo a {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 23px;
  color: var(--white);
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.act-slct a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

/*Curve outside*/

.navigation ul li:hover a::before,
.navigation ul li.act-slct a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.act-slct a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.main {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main.act-btn {
  width: calc(100% - 80px);
  left: 80px;
}

.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 10%;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}

.user {
  position: relative;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.frank {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 3.5em;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
  color: var(--white);
}
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}

.details .recentOrders table tr td {
  padding: 10px;
}

.details .recentOrders table tr td:last-child {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #f9ca3f;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inprogress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* Responsive design */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.act-btn {
    left: 0;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.act-btn {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inprogress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardBox h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 999;
  }
  .navigation.act-btn {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 9999;
  }
  .main.act-btn .toggle {
    color: #fff;
    right: 0;
  }
}

/*-------------*/

/*HomePage*/

h2.welcome {
  color: #287bff;
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.recentMoney {
  display: flex;
  justify-content: center;
  background: var(--white);
  padding: 20px;
  margin-top: 2rem;
}

.recentMoney table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.recentMoney table tbody td:hover {
  background: var(--blue);
  color: var(--white);
  padding: 1rem;
}

table {
  box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
  padding: 1rem;
  border-radius: 20px;
  width: 80%;
}

.text-center {
  text-align: center;
}

.b-b {
  font-weight: bold;
  color: gray;
  padding-top: 1.5rem;
}

.titleRow {
  font-size: 2rem;
  font-weight: bold;
  color: #287bff;
}

/*------ Costumers ------*/

table.table-costumer {
  width: 100%;
  table-layout: fixed;
}

.tb-head {
  color: var(--white);
}

.tbl-header {
  color: var(--black1);
  background: var(--blue);
}
.tbl-content {
  background: var(--grey);
  color: var(--black1);
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 7px 25px rgb(0 0 0 / 14%);
}
.table-costumer th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
tbody.tbody td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

tr:hover {
  background: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.td-row-btns {
  display: flex;
  justify-content: left;
  gap: 9px;
}
.td-btns {
  color: #222;
  background: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 100px;
  font-weight: 500;
  color: #fff;
  padding-top: 2px;
  width: 50px;
  height: 30px;
  font-size: 10px;
  cursor: pointer;
}
.red {
  background: rgb(237, 60, 60);
}
.btn-all {
  background: transparent;
  border: none;
  color: var(--blue);
  font-size: 19px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.9s;
  padding: 3px 21px;
}
.btn-all:hover {
  color: rgb(223, 223, 49);
}
.top {
  display: flex;
  justify-content: space-between;
}
.select {
  height: fit-content;
}

.h1 {
  margin-bottom: 50px;
}

/******* Chat Page *******/

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    var(--blue) 0%,
    var(--blue) 130px,
    var(--white) 130px,
    var(--white) 100%
  );
}

.containerChat {
  position: relative;
  width: 1369px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: var(--white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.bodyContainer .container .leftSide {
  position: relative;
  flex: 30%;
  background: var(--white);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.bodyContainer .container .rightSide {
  position: relative;
  flex: 70%;
  background: var(--grey);
}

.bodyContainer .container .rightSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/pattern.png);
  opacity: 0.06;
}
.header-left,
.header-right {
  position: relative;
  width: 100%;
  height: 60px;
  background: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.cover-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav_icons {
  display: flex;
}
.nav_icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: var(--grey);
  font-size: 1.5em;
  margin-left: 22px;
}
.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.search_chat div {
  width: 100%;
}
.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: var(--white);
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}
.search_chat div input::placeholder {
  color: #bbb;
}
.search_chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}
.chatlist {
  position: relative;
  height: calc(100% - 110px); /*60px + 50px*/
  overflow-y: auto;
  /* background: #f5f5f5; */
}
.chatlist div.blockChat {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.chatlist div.blockChat.active-chat {
  background: var(--grey);
}
.chatlist div.blockChat:hover {
  background: #d2d2d2;
}
.chatlist .blockChat .imgChat,
img.cover {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.chatlist .blockChat .chat-details {
  position: relative;
  width: 100%;
}
.chatlist .blockChat .chat-details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.chatlist .blockChat .chat-details .listHead h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--black1);
}
.chatlist .blockChat .chat-details .listHead .chat-time {
  font-size: 0.75em;
  color: var(--black2);
}
.chatlist .blockChat .chat-details .listHead .chat-time {
  color: var(--black1);
}
.chatlist .blockChat.unread .chat-details .listHead .chat-time {
  color: #06d755;
}
.message_p {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.message_p p {
  color: var(--black2);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_p b {
  background: #06d755;
  color: var(--white);
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}
.textImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textImg h4 {
  font-weight: 400;
  line-height: 1.2em;
  margin-left: 15px;
}
.textImg h4 span {
  font-size: 0.8em;
  color: var(--white);
}
/* Chat box */
.chatBox {
  position: relative;
  width: 100%;
  height: calc(100% - 120px); /*60px + 60px*/
  padding: 50px;
  overflow-y: auto;
}
.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.message p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: var(--blue);
  border-radius: 10px;
  font-size: 0.9em;
}
.message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    var(--blue) 0%,
    var(--blue) 50%,
    transparent 50%,
    transparent
  );
}
.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}
.my_message {
  color: var(--white);
  justify-content: flex-end;
}
.frnd_message {
  justify-content: flex-start;
}
.frnd_message p {
  background: var(--white);
  text-align: left;
}
.message.frnd_message p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
}
.chatbox_input {
  position: relative;
  width: 100%;
  height: 60px;
  background: var(--grey);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatbox_input ion-icon {
  cursor: pointer;
  font-size: 1.8em;
  color: var(--black2);
}
.chatbox_input ion-icon:nth-child(1) {
  margin-right: 15px;
}
.chatbox_input input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}
